<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Starrez API</title>
  <style type="text/css">
      
    /*.striped div:nth-child(even){
      background-color: #dcdcdc;
    }
    .striped div:nth-child(odd){
    background-color: #aaaaaa;
    }*/
    .title-column{
        background: #aaaaaa;
    }
    .display-block{
        display: block;
    }
    .display-none{
        display: none;
    }
    

  </style>
  </head>
  <body>
    <div id="app" class="container">
        <section class="hero is-light is-small">
            <div class="hero-body">
            <h1 class="title">BALLIOLOXFORD Booked Catering API</h1>
            </div>
        </section>      
         
        <div class="card booking-content">
                <div class="card-content">
                    <div class="columns" style="margin-bottom: 40px;">
                         <datepicker @closed="searchBooking" v-model="startDate"  type="text" placeholder="Start Date"></datepicker>      
                    </div>
                    
                    <div class="columns title-column">
                        <div class="column">
                            Booking
                        </div>
                        <div class="column">
                            BookingCatering
                        </div>
                    </div>
                    <div v-if="bookings && !bookings.length" class="columns">
                        No Records Found
                    </div>
                    <div v-if="bookings">
                        <div v-for="booking in bookings" class="striped">
                            <div class="columns">
                                <!-- Booking -->
                                <div class="column">
                                    <p><b>Description:</b> {{ booking.Description }}</p>
                                    <p><b>SetUp Notes:</b> {{ booking.SetupNotes }}</p>       
                                    <p><b>Attendee Estimate:</b> {{ booking.AttendeeEstimate }}</p>
                                    <p><b>Date</b> {{formatDate(booking.DateStart)}}</p>
                                    <p><b>Start Time: </b> {{ formatTime(booking.DateStart) }}</p>
                                    <p><b>End Time: </b> {{ formatTime(booking.DateEnd) }}</p>

                                </div>
                                <!-- BookingCatering -->
                                <div class="column">
                                     <div v-for="cateringItem in booking?.FunctionBookingCatering">
                                        <p> <b>Catering Description:</b>  {{ cateringItem.CateringDescription }}</p>
                                        <p> <b>Serving Time:</b>  {{ cateringItem.ServingTime }}</p>
                                        <p> <b>Location:</b>  {{ cateringItem.Location }}</p>
                                        <p> <b>Catering Items</b></p>

                                        <div v-for="item in cateringItem?.FunctionBookingCateringItem">
                                            {{ item.Description }}
                                        </div>
                                     </div>
                                     <hr>
                                     <b>Allergens: </b>
                                     <div v-for="roomBookingItem in booking?.FunctionRoomBooking">
                                        <p>{{ roomBookingItem.SetupNotes }} </p>
                                     </div>
                                </div>   
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>       
        </div>

        <div class="card room-content display-none">
            <div class="card-content">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Room Description</th>
                            <th>Salto Extension ID</th>
                            <th>Salto ID</th>
                            <th>Booking Status</th>
                            <th>Check In Date</th>
                            <th>Check Out Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="room in rooms">
                            <td> {{ room.Description }} </td>
                            <td> {{ room.CustomString1 }} </td>
                            <td> {{ room.RoomSpace.Booking.Entry ? room.RoomSpace.Booking.Entry.ID5 : 'N/A' }} </td>
                            <td> {{ room.RoomSpace.Booking ? room.RoomSpace.Booking.EntryStatusEnum : 'N/A' }} </td>
                            <td> {{ room.RoomSpace.Booking ? formatDate(room.RoomSpace.Booking.CheckInDate) : 'N/A' }} </td>
                            <td> {{ room.RoomSpace.Booking ? formatDate(room.RoomSpace.Booking.CheckOutDate) : 'N/A' }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        
    </div>
  </body>
</html>